<main role="main" class="container" ng-init="init();" >
	<div ng-show="step==1" id="step">
		<form  class="form-row">
			<div class="form-group col-md-12">
				<label >玩家人数/All In Players</label>
				<div class="form-check">
					<input class="form-check-input" ng-disabled="input.players_disabled" ng-model="input.players" type="radio" name="players"  value="2">
					<label class="form-check-label" >
						2人/2 players
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" ng-disabled="input.players_disabled" ng-model="input.players"  name="players"  value="3">
					<label class="form-check-label" >
						3人/3 players
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" ng-disabled="input.players_disabled" ng-model="input.players"  name="players"  value="4">
					<label class="form-check-label" >
						4人以上/4 players more
					</label>
				</div>
			</div>
			<div class="form-group col-md-12">
				<label >下注圈/Betting Round</label>
				<div class="form-check">
					<input class="form-check-input" ng-model="input.round"  type="radio" ng-disabled="input.round_disabled || input.players>3 || input.players===undefined" name="round"  value="flop">
					<label class="form-check-label" >
						翻牌/flop
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio"  ng-model="input.round" ng-disabled="input.round_disabled || input.players>3 || input.players===undefined"  name="round"  value="turn">
					<label class="form-check-label" >
						转牌/turn
					</label>
				</div>
			</div>
			<div class="form-group col-md-12">
				<label >补牌数/Outs</label>
				<input type="number"  min="1"    ng-model="input.outs" class="form-control col-md-12" ng-disabled="input.players>3 || input.round===undefined" placeholder="补牌数/Outs">
			</div>
			<div class="form-group col-md-12">
				<label>赔率/Odds</label>
				<input class="form-control"  ng-model="odds[input.outs]" placeholder="赔率/Odds" readonly disabled type="text">
			</div>
			<div class="form-group col-md-12">
				<label >底池/Pot</label>
				<label ng-model="input.fpot" ng-show="input.fpot >0"> =  翻牌圈底池 flop pot：${{input.fpot}}</label>
				<label ng-model="input.famount" ng-show="input.famount >0">  - 翻牌圈保金 buy amount：${{input.famount}}</label>
				<input type="number" step="0.5" min="1"  ng-model="input.pot" class="form-control" ng-disabled="input.players>3 || input.round===undefined || odds[input.outs]===undefined || input.pot_disabled" placeholder="底池/Pot">
			</div>
			<div class="form-group col-md-12">
				<label>保金上限/Maximum</label>
				<input class="form-control" ng-model="input.i_maximum" placeholder="保金上限/Maximum" readonly disabled  type="text">
			</div>
			<div class="form-group col-md-12">
				<label>保本/50 %</label>
				<input class="form-control" ng-model="input.percentage50" placeholder="保本/50 %" readonly disabled  type="text">
			</div>
			<div class="form-group col-md-12">
				<label>保金/buy amount</label>
				<input class="form-control" placeholder="保金/buy amount"  type="number" step="0.1"   ng-model="input.amount" ng-init="input.amount =0" ng-disabled="input.pot===undefined|| input.round===undefined || odds[input.outs]===undefined || input.pot ===null " type="text">
			</div>
			<div class="form-group col-md-12">
				<label>保额/insured amount </label>
				<input class="form-control"  type="text" placeholder="保额/insured amount" ng-model="input.insuredamount" ng-init="input.insuredamount=0" readonly disabled>
			</div>
			<div class="form-group col-md-12"  >
				<input type="submit" ng-click="step=2;goTop();" class="col-md-12 btn btn-info" value="下一步/next" ng-disabled="input.amount == 0 || input.amount===null || input.pot==0 || input.pot===null || input.pot===undefined || odds[input.outs]===undefined">
			</div>
		</form>
	</div>
	<div class="row" ng-show="step==2">
		<div class="col-md-12">
			<div class="table-responsive">          
				<table class="table">
					<thead>
						<tr >
							<th colspan="2" style="text-align: center;">确认/confirm</th>
						</tr>
					</thead>
					<tbody>
					  <tr>
						<td>玩家人数/All In Players</td>
						<td ng-bind="input.players"></td>
					  </tr>
					  <tr>
						<td>下注圈/Betting Round</td>
						<td ng-bind="input.round"></td>
					  </tr>					  
					  <tr>
						<td>补牌数/Outs</td>
						<td ng-bind="input.outs"></td>
					  </tr>	
					  <tr>
						<td>赔率/Odds</td>
						<td ng-bind="odds[input.outs]"></td>
					  </tr>					  
					  <tr>
						<td>底池/Pot</td>
						<td ng-bind="input.pot"></td>
					  </tr>
					  <tr>
						<td>保金上限/Maximum</td>
						<td ng-bind="input.i_maximum"></td>
					  </tr>
					  <tr>
						<td>保金/buy amount</td>
						<td ng-bind="input.amount"></td>
					  </tr>			 
					  <tr>
						<td>保额/insured amount</td>
						<td ng-bind="input.insuredamount"></td>
					  </tr> 
					  <tr>
						<td colspan="2">
							<input  type="text" ng-keyup="check_user_code()" maxlength="6" class="form-control" placeholder="输入使用者6位验证码/please Enter User Code" ng-model="input.ucode" >
						</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group col-6"  >
			<input type="submit" ng-click="save();goTop();" ng-disabled="input.ucode ===undefined || input.ucode === null || input.ucode =='' || checkvcode!='1'" class="col-12 btn btn-info" value="是/Yes" >
		</div>
		<div class="form-group col-6"  >
			<input type="submit" ng-click="step=1" class="col-12 btn btn-info" value="否/No" >
		</div>
	</div>
	<div  ng-show="step==3">
		<form  class="form-row">
			<div class="form-group col-md-12">
				<label >结果/result</label>
				<div class="form-check">
					<input class="form-check-input"  name="result" ng-model="input.result" type="radio"  value="pay">
					<label class="form-check-label" >
						支付/pay
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" name="result" ng-model="input.result" type="radio"  value="nopay">
					<label class="form-check-label" >
						未支付/no pay
					</label>
				</div>
			</div>
			<div class="form-group col-md-12">
				<label>賠付额/pay amount</label>
				<input class="form-control" step="0.1"  ng-model="input.payamount" placeholder="賠付额/pay amount" ng-disabled="input.result ===undefined || input.payamount_disable" type="number">
			</div>
			<div class="form-group col-md-12" >
				<input type="submit" ng-click="update_result()"  class="col-md-12 btn btn-info" value="储存/save" ng-disabled="step !=3 || input.result===null || input.result===undefined ||  input.result==''">
			</div>
		</form>
	</div>
	<div class="row" ng-show="step==4">
		<div class="col-md-12">
			<div class="table-responsive">          
				<table class="table">
					<thead>
						<tr >
							<th colspan="2" style="text-align: center;">收据/invoice </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>玩家人数/All In Players</td>
							<td ng-bind="input.players"></td>
						</tr>
						<tr>
							<td>下注圈/Betting Round</td>
							<td ng-bind="input.round"></td>
						</tr>					  
						<tr>
							<td>补牌数/Outs</td>
							<td ng-bind="input.outs"></td>
						</tr>	
						<tr>
							<td>赔率/Odds</td>
							<td ng-bind="odds[input.outs]"></td>
						</tr>					  
						<tr>
							<td>保金上限/Maximum</td>
							<td ng-bind="input.i_maximum"></td>
						</tr>	
						<tr>
							<td>保金/buy amount</td>
							<td ng-bind="input.amount"></td>
						</tr>	
						<tr>
							<td>结果/result</td>
							<td ng-bind="input.result"></td>
						</tr>	
						<tr>
							<td>保额/insurance amount</td>
							<td ng-bind="input.insuredamount"></td>
						</tr>					  
						<tr ng-show="input.result=='pay'">
							<td>赔偿金额/insurance amount</td>
							<td ng-bind="input.payamount"></td>
						</tr>						
						<tr ng-show="input.result=='nopay'">
							<td>保金收入/insurance income</td>
							<td ng-bind="input.amount+input.famount"></td>
						</tr> 
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group col-6"  >
			<input type="submit" ng-click="end();" ng-disabled="step!=4" class="col-12 btn btn-info" value="确认/Confirm" >
		</div>
		<div class="form-group col-6">
			<input type="submit" ng-click="buyTurn();" ng-disabled="step!=4 || input.round != 'flop' " class="col-12 btn btn-info" value="买转牌保险/Buy Insurance Turn" >
		</div>
	</div>
</main>
