<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
  <div class="navbar-brand">
	<h5>賠率/odds:</h5>
	<h5>底池/pot:</h5>
	<h5>上限/Maximum</h5>
	<h5>购买额/amount</h5>
	<h5>保险赔注额/pay total</h5>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item">
		<a class="nav-link" href="#">刷新/reload</a>
	  </li>
	</ul>
  </div>
</nav>